<div class="form message">
  <div class="input-field message-field">
    <input id="input_message" type="text" data-testid="message-box">
    <label for="input_message">Message</label>
  </div>
  <button class="waves-effect waves-light btn" id="btn_send" data-testid="send-button">
    <i class="material-icons right">send</i>Enviar
  </button>
</div>
