<div class="form nickname">
  <div class="input-field nickname-field">
    <input id="input_nickname" type="text" data-testid="nickname-box">
    <label for="input_nickname">Nickname</label>
  </div>
  <button class="waves-effect waves-light btn" id="btn_nickname" data-testid="nickname-save">
    <i class="material-icons">cached</i>
  </button>
</div>
