<meta charset="UTF-8">
<title>ChaTrybe</title>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
>
<style>
    body { padding-top: 50px; }
    .chatscreen { height: 80vh; }
</style>
<script src="https://cdn.socket.io/socket.io-3.0.4.js"></script>
<script>
  // console.log(socket);
  window.onload = () => {
    console.log(io())
    //const socket = io();
    // socket.emit('new_guest');
  }
</script>