<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Olá</h1>
  <div>

    <h2>Usuário:</h2>
    <ul id="userList">
      <li><%=contador%></li>
      <% users.forEach((user) => { %>
        <li><%=user.nickname%></li>
      <% }) %>
    </ul>

  </div>

  <button id="clique">Clique</button>

  <input type="text" id="texto">

  <ul id="chatList"></ul>

</body>

<script src="http://localhost:3000/socket.io/socket.io.js"></script>

<script>
  const socket = io('http://localhost:3000');
  let nickname = '<%=contador%>';
  const userList = document.getElementById('userList');
  socket.emit('connected', { nickname });
  socket.on('updateUsers', ({ users }) => {
    userList.innerHTML = '';
    const atualUser = users.filter((user) => user.nickname === nickname);
    const otherUsers = users.filter((user) => user.nickname !== nickname);
    [...atualUser, ...otherUsers].forEach(user => {
      const listItem = document.createElement('li');
      listItem.innerHTML = user.nickname;
      userList.appendChild(listItem);
    });
  });
</script>

</html>
