<!-- Front-end client side -->

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebChat Project</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h2>Welcome to the WebChien Chat</h2>
  </body>
  <!-- Connect with client.js and right port -->
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="/client.js"></script>
</html>
