<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        font: 13px Helvetica, Arial;
      }
      form[class=mensagensForm] {
        background: #000;
        padding: 3px;
        position: fixed;
        bottom: 0;
        width: 90%;
      }
      form input[class=mensagensForm] {
        border: 0;
        padding: 10px;
        width: 90%;
        margin-right: 0.5%;
      }
      form button[class=mensagensForm] {
        width: 9%;
        background: rgb(130, 224, 255);
        border: none;
        padding: 10px;
      }

      form[class=userForma] {
        background: #000;
        padding: 3px;
        position: absolute;
        bottom: 40px;
        width: 40%;
      }
      form input[class=userForm] {
        border: 0;
        padding: 10px;
        width: 65%;
        margin-right: 0.5%;
      }
      form button[class=btnSnick] {
        width: 30%;
        background: rgb(130, 224, 255);
        border: none;
        padding: 10px;
        margin-left: 2%;
      }

      #mensagens {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      #mensagens li {
        padding: 5px 10px;
      }
      #mensagens li:nth-child(odd) {
        background: #eee;
      }
      #mensagens {
        margin-bottom: 40px;
      }
    </style>
  </head>
  <body>
    <form action="" class="userForma">
      <input id="useForm" class="userForm" autocomplete="off" data-testid="nickname-box" /> <button data-testid="nickname-save" class="btnSnick">Salvar Nickname</button>
    </form>
    <form action="" class="mensagensForm">
      <input id="mensagemInput" autocomplete="off" data-testid="message-box" class="mensagensForm"/><button data-testid="send-button" class="mensagensForm">Send</button>
    </form>
    <ul id="mensagens">
      <% if (historico) {%>
        <% historico.forEach(hist => { %>
            <li>
              <div data-testid="message"><%=hist %></div>
            </li>
          <%})%>
      <% } %>
    </ul>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script>
      const socket = io();
      const form = document.querySelector('.mensagensForm');
      const inputMessage = document.querySelector('#mensagemInput');
      const inputNickname = document.querySelector('#useForm');
      const formNickName = document.querySelector('.userForma');
      let nickname = 'NomeInicial';

      formNickName.addEventListener('submit', (e) => {
        e.preventDefault();
        console.log('eis o inputName.value', inputNickname.value);
        nickname = inputNickname.value;
        inputNickname.value = '';
      });

      form.addEventListener('submit', (e) =>{
        e.preventDefault();
        socket.emit('message', { chatMessage: inputMessage.value, nickname });
        inputMessage.value = '';
        return false;
      });

      const createMessage = (message) => {
        const messagesUl = document.querySelector('#mensagens');
        const li = document.createElement('li');
        li.innerHTML = `<div data-testid="message">${message}</div>`;
        messagesUl.appendChild(li);
      }
      socket.on('message', (mensagem) => createMessage(mensagem));
    </script>
  </body>
</html>
