<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
  </head>
  <body>
    <div class="boxonline"><center><h3>Pessoas online:</h3></center><br>
      <ul class="ulbox">
        <% if (usersOnline !== [] ) {%>
          <% usersOnline.forEach(user => { %>
              <li>
                <div data-testid="online-user"><%=user %></div>
              </li>
            <%})%>
        <% } %>
      </ul>
    </div>
    <form action="" class="userForma">
      <input id="useForm" class="userForm" autocomplete="off" data-testid="nickname-box" /> <button data-testid="nickname-save" class="btnSnick">Salvar Nickname</button>
    </form>
    <form action="" class="mensagensForm">
      <input id="mensagemInput" autocomplete="off" data-testid="message-box" class="mensagensForm"/><button data-testid="send-button" class="mensagensForm">Send</button>
    </form>
    <ul id="mensagens">
      <% if (historico) {%>
        <% historico.forEach(hist => { %>
            <li>
              <div data-testid="message"><%=hist %></div>
            </li>
          <%})%>
      <% } %>
    </ul>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script>
      const socket = io();
      const form = document.querySelector('.mensagensForm');
      const inputMessage = document.querySelector('#mensagemInput');
      const inputNickname = document.querySelector('#useForm');
      const formNickName = document.querySelector('.userForma');
      let nickname;

      socket.on('initialNickname', (nickInicial) => {
        nickname = nickInicial;
      });

      formNickName.addEventListener('submit', (e) => {
        e.preventDefault();
        const oldNickname = nickname;
        nickname = inputNickname.value;
        inputNickname.value = '';
        socket.emit('changeNickName', { oldNickname, nicknameAtual: nickname } );
      });

      form.addEventListener('submit', (e) =>{
        e.preventDefault();
        socket.emit('message', { chatMessage: inputMessage.value, nickname });
        inputMessage.value = '';
        return false;
      });

      const createMessage = (message) => {
        const messagesUl = document.querySelector('#mensagens');
        const li = document.createElement('li');
        li.innerHTML = `<div data-testid="message">${message}</div>`;
        messagesUl.appendChild(li);
      }

      const createOnlineList = (lista) => {
        const boxOnlineUl = document.querySelector('.ulbox');
        boxOnlineUl.innerHTML = '';
        const li = document.createElement('li');
        li.innerHTML = `<div data-testid="online-user"><img src="./online.png">${nickname}<img src="./me.png"></div>`;
        boxOnlineUl.appendChild(li);
        lista.forEach((item) => {
          if (item !== nickname) {
            const li = document.createElement('li');
            li.innerHTML = `<div data-testid="online-user"><img src="./online.png">${item}</div>`;
            boxOnlineUl.appendChild(li);
          }
        });

      };

      socket.on('message', (mensagem) => createMessage(mensagem));
      socket.on('listUsersOnline', (uai) => createOnlineList(uai));
    </script>
  </body>
</html>