<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trybe - Webchat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  </head>
  <body>
    <h1>
      <strong>Webchat</strong>
      <span>for Trybe's students</span>
    </h1>
    <form>
      <section id="messages">
        <% if (messages) { %>
          <% messages.forEach((message) => { %>
            <li data-testid="message">
              <%= `${message.timestamp} - ${message.nickname}: ${message.chatMessage}` %>
            </li>
         <% }) %>
        <% } %>
      </section>
      <section>
        <input
          data-testid="nickname-box"
          id="nickname"
          type="text"
          placeholder="Type your name here"
        />
        <button data-testid="nickname-save" id="btn-name" type="button">Save</button>
      </section>
      <section>
        <input
          data-testid="message-box"
          id="message"
          type="text"
          placeholder="Type your message here"
        />
        <button data-testid="send-button" id="btn-message" type="button">Send</button>
      </section>
    </form>
  </body>
  <script type="text/javascript">
    const client = io('http://localhost:3000');

    let nick = `Guest #${Math.round(Math.random() * 1000)}`;
    const nickname = document.getElementById('nickname');
    const nameBtn = document.getElementById('btn-name');

    nameBtn.addEventListener('click', () => {
      nick.value = nickname.value;
    });

    const message = document.getElementById('message');
    const messageBtn = document.getElementById('btn-message');
    const messages = document.getElementById('messages');
    const timestamp = moment(new Date()).format('DD-MM-yyyy hh:mm:ss');

    messageBtn.addEventListener('click', () => {
      if (message.value.length) {
        const li = document.createElement('li');
        li.setAttribute('data-testid', 'message');
        li.innerHTML = `${timestamp} - ${nickname.value}: ${message.value}`
        messages.appendChild(li);
      }

      const sendMessage = {
        nickname: nickname.value,
        chatMessage: message.value,
      };

      client.emit('message', sendMessage);
    });
  </script>
</html>
