<!DOCTYPE html>
<html>
  <head>
    <title>WebChat</title>
  </head>
  <script src="socket.io/socket.io.js"></script>
  <link
    rel="stylesheet"
    href="
  ./css/style.css"
  />
  <body>
    <h1>Usuários online</h1>
    <ul>
      <% if (onlineUsers) {
        onlineUsers.forEach((user) => {
          %><li data-testid="online-user" id=<%= user.id %> ><%= user.nickname %></li><% 
        })
      } %>
    </ul>
    <h1>Chat</h1>
    <ul>
      <% if (messageHistory) {
        messageHistory.forEach((message) => {
          %><li data-testid="message"><%= message %></li><% 
        })
      } %>
    </ul>
    <section id="chat">
      <form>
        <input id="text-input" data-testid="message-box" />
        <button type="button" data-testid="send-button" id="send-button">Enviar</button>
        <input placeholder="Escolha um nick" data-testid="nickname-box" id="nickname-box" />
        <button type="button" data-testid="nickname-save" id="nickname-save">Salvar</button>
      </form>
    </section>
    <script>
      window.onload = () => {
        const socket = io();
        const sendButton = document.getElementById('send-button');
        const chatMessage = document.getElementById('text-input');
        const nicknameInput = document.getElementById('nickname-box');
        const saveButton = document.getElementById('nickname-save');
        let nickname;
        let userId;

        socket.on('connected', (id, username) => { 
          userId = id;
          nickame = username;
         })

        socket.on('user disconnected', (id) => {
          const li = document.querySelector(`#${id}`);
          li.remove();
        })

        socket.on('connection', (id, username) => {
          const ul = document.getElementsByTagName('ul')[0];
          const li = document.createElement('li');
          li.setAttribute('data-testid', 'online-user');
          li.innerHTML = username;
          if (userId === id) {
            li.setAttribute('id', userId);
            ul.prepend(li);
          } else {
            li.setAttribute('id', id);
            ul.appendChild(li);
          }
        })
        
        socket.on('message', (text) => {
          const ul = document.getElementsByTagName('ul')[1];
          const li = document.createElement('li');
          li.setAttribute('data-testid', 'message');
          li.innerText = text;
          ul.appendChild(li);
        })

        sendButton.addEventListener('click', () => {
          socket.emit('message', {
            nickname,
            chatMessage: chatMessage.value,
          });
          chatMessage.value = '';
        });

        saveButton.addEventListener('click', () => {
          nickname = nicknameInput.value;
          nicknameInput.value = '';
          const li = document.querySelector(`#${userId}`);
          li.innerHTML = nickname;
          socket.emit('user changed nickname', nickname, userId);
        })

        socket.on('user changed nickname', (user) => {
          const li = document.querySelector(`#${user.id}`)
          console.log(user);
          li.innerHTML = user.nickname;
        })
      };
    </script>
  </body>
</html>
