
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebChat Project</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h2>Webchat</h2>

    <ul class="messages" id="messages">
      <% if (allMessages) { %>
        <% allMessages.forEach((msg) => { %>
          <li data-testid="message">
            <%= `${msg.dateFormat} - ${msg.nickname}: ${msg.chatMessage}`%>
          </li>
       <% }) %>
      <% } %>
    </ul>
    <section class="chat-inputs">
      <div class="nickname-stuff">
        <input data-testid="nickname-box" type="text" id="nickname-input" name="nickname" placeholder="Enter your nickname here">
        <button data-testid="nickname-save" type="button" id="nickname-save">Save nickname</button>
      </div>
      <div class="message-stuff">
        <input data-testid="message-box" type="text" id="message-input" name="message" placeholder="Digit your message here">
        <button data-testid="send-button" type="button" id="send">Send message</button>
      </div>
    </section>

    <ul class="users" id="users">
      <% if (onlineUsers && onlineUsers.length > 0) { %>
        <% onlineUsers.forEach((user) => { %>
          <li data-testid="online-user" id="<%=user.id %>"><%=user.nickname%></li>
       <% }) %>
      <% } %>
    </ul>
  </body>

  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="/main.js"></script>
</html>
