<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
      crossorigin="anonymous"
    />
    <title>WebScockets</title>
    <link href="./styles.css" rel="stylesheet" />
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id="Web-socket">
      <h2>Web Chat</h2>
      <div id="all-users">
        <h3>Online users</h3>
        <ul id="users-online">
          <li><%= nickname %></li>
          <% usersOnLine.forEach((user) => { %>
          <li><%=user.nickName %></li>
          <% }) %>
        </ul>
      </div>
      <div id="chat-window">
        <div id="chatBox" data-testid="message-box"></div>
        <div id="userTyping"></div>
      </div>
      <div id="chat-mode">
        <button>Private</button>
        <button>Public</button>
      </div>
      <div id="forms">
        <form>
          <input
            id="Nickname-field"
            type="text"
            placeholder="Nickname"
            data-testid="nickname-box"
          />
          <input id="message-field" type="text" placeholder="Message" />
        </form>
        <button type="button" id="save-nick" data-testid="nickname-save">
          Salvar Nickname
        </button>
        <button id="send" data-testid="send-button">Send</button>
      </div>
    </div>
    <script>
      const socket = io();
      let userId = socket.id;
      let nickname = '<%= nickname %>';

      // Query DOM
      const ulUsers = document.getElementById('users-online');
      const chatBox = document.getElementById('chatBox');
      const userTyping = document.getElementById('userTyping');
      const nickField = document.getElementById('Nickname-field');
      const messageField = document.getElementById('message-field');
      const btnToSaveNickname = document.getElementById('save-nick');
      const btnToSendMessage = document.getElementById('send');

      socket.emit('connected', nickname);

      btnToSaveNickname.addEventListener('click', function () {
        nickname = nickField.value;
        socket.emit('saveNickname', nickname);
      });

      btnToSendMessage.addEventListener('click', () => {
        socket.emit('message', {
          chatMessage: messageField.value,
          nickname: nickField.value,
        });
      });

      socket.on('userConnected', (arrayOfUsers) => {
        ulUsers.innerHTML = '';
        const ownerUser = arrayOfUsers.find(
          (user) => user.userId === socket.id
        );
        const otherUsers = arrayOfUsers.filter(
          (user) => user.userId !== socket.id
        );
        [ownerUser, ...otherUsers].forEach((user) => {
          user.nickname;
          const li = document.createElement('li');
          li.innerHTML = user.nickname;
          ulUsers.appendChild(li);
        });
      });

      // socket.on('usersOnline', (arrayOfUsers) => {
      //   arrayOfUsers.forEach((user) => {
      //     usersList.innerHTML += `<li data-testid="online-user" id=${user.userId}>${user.nickName}</li>`;
      //   });
      // });

      // btn.addEventListener('click', function () {
      //   socket.emit('message', {
      //     nickName: userName,
      //     chatMessage: userMsgField.value,
      //   });
      //   userMsgField.value = '';
      // });

      // userMsgField.addEventListener('keypress', function () {
      //   socket.emit('typing', userTyping.value);
      // });

      // socket.on('privateChat', (nick) => {
      //   nickName = nick;
      //   const div = document.createElement('div');
      //   const h4 = document.createElement('h4')
      //   div.innerHTML(h4).innerHTML = `Bem vindo ${nickName}`;
      //   chatBox.appendChild(div);
      // });

      // socket.on('typing', function (data) {
      //   feedback.innerHTML = '<p><em>' + data + ' is typing a message...</em></p>';
      // });
    </script>
  </body>
</html>
