<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
      crossorigin="anonymous"
    />
    <title>WebScockets</title>
    <!-- <link href="./styles.css" rel="stylesheet" /> -->
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id="Web-socket">
      <h2>Web Chat</h2>
      <div id="all-users">
        <h3>Online users</h3>
        <ul id="users-online">
          <li data-testid="online-user"><%= nickname %></li>
          <% usersOnLine.forEach((user) => { %>
          <li data-testid="online-user"><%=user.nickname %></li>
          <% }) %>
        </ul>
      </div>
      <div id="chat-window">
        <ul id="chatBox">
          <% allMessages.forEach((msg) => { %>
          <li data-testid="message"><%= msg.message %></li>
          <% }) %>
        </ul>
        <div id="userTyping"></div>
      </div>
      <div id="chat-mode">
        <button>Private</button>
        <button>Public</button>
      </div>
      <div id="forms">
        <form>
          <input
            id="Nickname-field"
            type="text"
            placeholder="Nickname"
            data-testid="nickname-box"
          />
          <input
            data-testid="message-box"
            id="message-field"
            type="text"
            placeholder="Message"
          />
        </form>
        <button type="button" id="save-nick" data-testid="nickname-save">
          Salvar Nickname
        </button>
        <button id="send" data-testid="send-button">Send</button>
      </div>
    </div>
    <script>
      const socket = io();
      let userId = socket.id;
      let nickname = '<%= nickname %>';
      let chatMessage;

      // Query DOM
      const ulUsers = document.getElementById('users-online');
      const chatBox = document.getElementById('chatBox');
      const userTyping = document.getElementById('userTyping');
      const nickField = document.getElementById('Nickname-field');
      const messageField = document.getElementById('message-field');
      const btnToSaveNickname = document.getElementById('save-nick');
      const btnToSendMessage = document.getElementById('send');

      socket.emit('connected', nickname);

      socket.on('userConnected', (arrayOfUsers) => {
        ulUsers.innerHTML = '';
        const ownerUser = arrayOfUsers.find(
          (user) => user.userId === socket.id
        );
        const otherUsers = arrayOfUsers.filter(
          (user) => user.userId !== socket.id
        );
        [ownerUser, ...otherUsers].forEach((user) => {
          user.nickname;
          const li = document.createElement('li');
          li.setAttribute('data-testid', 'online-user');
          li.innerHTML = user.nickname;
          ulUsers.appendChild(li);
        });
      });

      btnToSaveNickname.addEventListener('click', function () {
        nickname = nickField.value;
        socket.emit('saveNickname', nickname);
      });

      btnToSendMessage.addEventListener('click', function () {
        const chatMessage = messageField.value;
        socket.emit('message', { nickname, chatMessage });
      });

      socket.on('message', (message) => {
        const msg = document.createElement('li');
        msg.setAttribute('data-testid', 'message');
        msg.innerHTML = message;
        chatBox.appendChild(msg);
      });

      // socket.on('usersOnline', (arrayOfUsers) => {
      //   arrayOfUsers.forEach((user) => {
      //     usersList.innerHTML += `<li data-testid="online-user" id=${user.userId}>${user.nickName}</li>`;
      //   });
      // });

      // btn.addEventListener('click', function () {
      //   socket.emit('message', {
      //     nickName: userName,
      //     chatMessage: userMsgField.value,
      //   });
      //   userMsgField.value = '';
      // });

      // socket.on('privateChat', (nick) => {
      //   nickName = nick;
      //   const div = document.createElement('div');
      //   const h4 = document.createElement('h4')
      //   div.innerHTML(h4).innerHTML = `Bem vindo ${nickName}`;
      //   chatBox.appendChild(div);
      // });

      // messageField.addEventListener('keypress', function (e) {
      //   e.preventDefault();
      //   socket.emit('typing', socket.id);
      // });

      // socket.on('typing', (user) => {
      //   userTyping.innerHTML = '<p><em>' + user.nickname + ' is typing a message...</em></p>';
    </script>
  </body>
</html>
