/* Chat em tempo real com NodeJS + Socket.io | Diego Fernandes | Rocketseat <https://www.youtube.com/watch?v=-jXfKDYJJvo> */
html , body {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#chat {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 2vw;
}

input {
  border: 1px solid #ddd;
  font-size: 1.5vw;
  height: 5vw;
  padding: 0 2vw;
  width: 60vw;
}

button {
  background: #069;
  border: none;
  color: white;
  font-size: 1.5vw;
  font-weight: bold;
  height: 5vw;
  line-height: 5vw;
  margin-top: 1vw;
  text-align: center;
  width: 60vw;
}

.messages {
  border: 1px solid #ddd;
  height: 40vw;
  margin: 2vw 0;
  padding: 2vw;
  width: 60vw;
}
