<!doctype html>
<html>
  <head>
    <title>Web Chat</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div>
      <input placeholder="Quero ser chamado de" id="nicknameBox" />
      <button id='nickNameButton'>
        Salvar
      </button>
    </div>
    <div>
      <ul>
        <% if (allMessages) { %>
          <% allMessages.forEach((item) => { %>
            <li>
              <%= `${item.data} - ${item.nickname}: ${item.chatMessage}` %>
            </li>
          <% }) %>
        <% } %>
      </ul>
    </div>
    <div>
      <input placeholder="Mande sua mensagem!" id="message-box"  />
      <button id="send-button">Enviar</button>
    </div>
      <script>
        const createMessage = (message) => {
          const li = document.createElement('li');
            li.innerHTML = message;
            const ul = document.querySelector('ul');
            ul.appendChild(li);
        }
        const socket = io();
        const nickButton = document.querySelector('#nickNameButton');
        const nickBox = document.querySelector('#nicknameBox');
        const messageButton = document.querySelector('#send-button');
        const messageBox = document.querySelector('#message-box');
        let nickname = 'Anônimo';
        let chatMessage = '';
        nickBox.addEventListener('change', (e) => nickname = e.target.value);
        messageBox.addEventListener('change', (e) => chatMessage = e.target.value);
        messageButton.addEventListener('click', () => {
          socket.emit('message', { nickname, chatMessage });
          messageBox.value = '';
        })
        socket.on('message', (message) => {
            createMessage(message);
        });
      </script>
  </body>
</html>