<!doctype html>
<html>
  <head>
    <title>Web Chat</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div>
      <input data-testid="nickname-box" placeholder="Quero ser chamado de" id="nicknameBox" />
      <button data-testid="nickname-save" id='nickNameButton'>
        Salvar
      </button>
    </div>
    <div>
      <ul>
        <% if (allMessages) { %>
          <% allMessages.forEach((item) => { %>
            <li data-testid="message">
              <%= `${item.data} - ${item.nickname}: ${item.chatMessage}` %>
            </li>
          <% }) %>
        <% } %>
      </ul>
    </div>
    <div>
      <input data-testid="message-box" placeholder="Mande sua mensagem!" id="message-box"  />
      <button id="send-button" data-testid="send-button">Enviar</button>
      <div>
        Usuários online:
        <ul id="onlineUsers">
          <% if (onlineUsers && onlineUsers.length > 0) { %>
            <% onlineUsers.forEach((user) => { %>
              <li data-testid="online-user" id="<%=user.id %>"><%=user.nickname%></li>
           <% }) %>
          <% } %>
        </ul>
            </ul>
          </div>
    </div>
      <script>
        const createMessage = (message) => {
          const li = document.createElement('li');
            li.innerHTML = message;
            li.setAttribute('data-testid', 'message')
            const ul = document.querySelector('ul');
            ul.appendChild(li);
        }
        const onlineUser = async (nickname, id) => {
            const li = document.createElement('li');
            li.innerHTML = nickname;
            li.setAttribute('data-testid', 'online-user');
            li.setAttribute('id', id);
            const ul = document.querySelector('#onlineUsers');
            ul.appendChild(li);
          }

        const socket = io();
        const nickButton = document.querySelector('#nickNameButton');
        const nickBox = document.querySelector('#nicknameBox');
        const messageButton = document.querySelector('#send-button');
        const messageBox = document.querySelector('#message-box');
        let nickname = '';
        let chatMessage = '';
        nickBox.addEventListener('change', (e) => nickname = e.target.value);
        messageBox.addEventListener('change', (e) => chatMessage = e.target.value);
        nickButton.addEventListener('click', () => {
          socket.emit('userChange', nickname);
        })
        messageButton.addEventListener('click', () => {
          socket.emit('message', { nickname, chatMessage });
          messageBox.value = '';
        })
        socket.on('message', (message) => {
            createMessage(message);
        });
        socket.on('user', async (user) => {
          await onlineUser(user.nickname, user.id);
        })
        socket.on('userDis', async (id) => {
          const user = await document.querySelector(`#${ id }`);
          user.parentNode.removeChild(user);
        })
        socket.on('userChange', (user) => {
          const element = document.querySelector(`#${ user.id }`);
          element.innerHTML = user.nickname;
        })
      </script>
  </body>
</html>